*{
    margin: 0;
    padding: 0; /* espaçamento interno da caixa */
    box-sizing: border-box;
}

header,
section h2{
    font-family: 'Bungee', cursive;
}

header h1,
section h2{
    font-weight: normal;
}


body{
    font-family: 'Roboto', sans-serif;
}

header { /* cabeçalho */
    padding: 16px 30px;
    background-color: #031c61;
    color: #ffffff;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

.container{
    max-width: 1280px; /*largura máxima */
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
    margin-right: 20px;
    margin-top: 10px;
}

.brands-list li{
    display: inline;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: #031c61;;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

footer{
    background-color: #031c61;
    color: #ffffff;
    padding: 16px 0;
}